@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts  */
/* fonts  */
/* fonts  */

@font-face {
    font-family: GilroyExtraBold;
    src: url(./assets/fonts/gilroy/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family: GilroyBold;
    src: url(./assets/fonts/gilroy/Gilroy-Bold.ttf);
}
@font-face {
    font-family: GilroyRegular;
    src: url(./assets/fonts/gilroy/Gilroy-Regular.ttf);
}

.form-heading{
    font-family: GilroyBold, sans-serif;
}

.form-reg{
    font-family: GilroyRegular, sans-serif;
}


.main-container{
    background-image: url(./assets/bg.png);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   min-height: 100vh;
}

.text-cont{
    
}
.textc{
    font-size: 3.8rem;
    font-weight: 700;
    padding-top: 130px;
    color: #ffffff;
    font-family: GilroyExtraBold, sans-serif;
}
.form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formc{
    background-color: #ffffff;
    height: 65%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-flow: column;
    padding: 20px;
    border-radius: 10px;
}

.inputc{
    border-radius: 50px;
    border: 1px solid #131313;
    padding: 10px;
    margin: 15px 0;
}

